* {
    margin: 0;
    font-family: 'Open Sans';
}

/* text-style */
.text-primary {
    color: #FD6E0A;
}

/* button-style */
.btn-primary {
    height: 64px;
    border-radius: 5px;
    background-color: #FD6E0A;
    font-weight: 700;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}

/* header section */
.header {
    background: #FFF8F3;
    background-image: url(/images/header_bg.png), url(/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* nav tag */
nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 226px;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

nav ul {
    display: flex;
    align-items: center;

}

/* nav-title */
.nav-title {
    font-weight: 800;
    font-size: 45px;

}

/* banner style */
.banner {
    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;

}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

/* main section */
.main {
    max-width: 1140px;
    margin: 0 auto;
}
.section{
    margin-top: 130px;
}

/* about me section */
.about-me {
    /* margin-top: 140px; */
    background: #FFF8F3;
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;

}

.section-title {
    text-align: center;
    margin-bottom: 50px;
    font-weight: 700px;
    font-size: 35px;

}

.banner-description {
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-description{
    font-weight: 700px;
    font-size: 20px;
    color: #757575;
}
/* what i do section */
.what-i-do{
    margin-top: 130px;

}

/* .section-title{
   

} */
/* skills container */
.skills-container{
    display: flex;
    gap: 24;

}
.skill{
    background-color: #FFF8F3;
    box-shadow: 0px 6px 50px
    rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 30px;

}
.skill-title{
    font-weight: 700px;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;


}
.skill-description{
    color: #757575;
}
/* resume */
.resume-content{
    display: flex;
    gap: 24px   ;
}
.resume-title{
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}
.resume-item{
    margin-bottom: 30px;
    margin-top: 30px;

}
.title{
    font-size: 22px;

}
.sub-title{
    color: #757575;
    font-weight: 600;
    font-size: 18px;
}
.description{
    color: #757575;
}
/* resume button */
.resume-btn{
    margin-top: 50px;
    text-align: center;
}
/* }contact section */
.contact{
    display: flex;
    gap: 100px;
    background: #e9d3d3;
    margin-top: 30px;

}
.contact .section-title{
    text-align: left;
    padding: 80px 100px;
}
.contact .section-description{
    padding: 100px;
}
.contact .section-description a{
    margin-right: 40px;
    font-size: 30px;
}
/* form */
.form .input-form{
    margin-top: 10px;
    padding: 10px;

}
textarea{
    margin-top: 20px;
}
.submit-btn{
    font-size: 30px;
    background: #FD6E0A;
    border-radius: 10px;
    margin-bottom: 20px;
}
footer{
    margin-bottom: 10px;
}
